# Binaries
/bin/
bin-int/
Intermediates/
build/

# Third-party runtime binaries required for clean builds
!ExternalLibs/Assimp/bin/
!ExternalLibs/Assimp/bin/**

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories

*.lnk
