# Binaries
**/bin/
bin-int/
Intermediates/
build/

# log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories

checklist.txt
